{
  "dev": {
    "SSLConfiguration": {
      "clientCertificate": {
        "path": "bob.crt",
        "format": "PEM"
      },
      "clientCertificateKey": {
        "path": "bob.key",
        "format": "PEM"
      }
    }
  }
}
