{
  "dev": {
    "SSLConfiguration": {
      "clientCertificate": {
        "path": "bob.crt",
        "format": "PEM"
      },
      "clientCertificateKey": {
        "path": "bob.key",
        "format": "PEM"
      }
    },
    "keycloak": {
      "secret": "VbLYtqpgUGN3YdC7C4FpXHpEc3oZS5LP"
    }
  }
}
